.fixed-tooltip {position:absolute;background-color:black;z-index:100;padding:5px 8px;border-radius:3px;font-size:12px;color:#fff;}
.fixed-tooltip:after {display:block;content:" ";position:absolute;left:50%;bottom:-5px;transform:translateX(-50%);width:0;height:0;border-style:solid;border-width:6px 5px 0 5px;border-color:#000000 transparent transparent transparent;}
.fixed-tooltip.ft-hidden {display:none;}
.fixed-tooltip.ft-showed {display:block;}
